.hero-wrapper .hero{
    background: url("/header_img.png") no-repeat;
    background-size: contain;
    height: 37vw;
    margin: 30px auto;
    position: relative;
}

.hero-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 63%;
    gap: 1.5vw;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}

.hero-content h2{
    font-size: max(4.5vw,20px);
    color: white;
    font-weight: 500;
}
.hero-content p{
    color: white;
}


@media (max-width: 1050px){
    
    .hero-content{
        max-width: 60%;
    }
    
    .hero-content h2{
        font-size: max(4vw,22px);
        color: white;
        font-weight: 500;
    }
}

@media (max-width: 900px){
    
    .hero-content{
        max-width: 60%;
        bottom: 15%;
    }
    
    .hero-content h2{
        color: white;
        font-weight: 500;
    }
    .hero-content p{
        display: none;
    }
    .button-2{
        padding: 8px 16px;
        font-size: 0.9rem;
    }
}