.explore-menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.explore-menu h2{
    font-size: 2rem;
    font-weight: 500;
}
.explore-menu p{
    font-size: 1rem;
    max-width: 60%;
}

.explore-menu-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 20px 0px;
}
.explore-menu-list-item img{
    width: 7.5vw;
    min-width: 80px;
    border-radius: 50%;
    transition: 0.3s;
}
.explore-menu-list-item p{
    cursor: pointer;
    margin-top: 10px;
    display: inline-flex;
}
.explore-menu hr{
    margin-top: 10px;
    height: 2px;
    background-color: rgb(240, 147, 147);
    border: none;
}
.explore-menu-list-item .active{
    border: 4px solid tomato;
    padding: 2px;
}